/*Importar Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');

.body-receita {
    background-color: #FEE297;
    margin: 0;
}

/*__________________Navbar__________________*/
.navbar {
    border: 3px solid #3D3737;
    border-radius: 60px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
    justify-content: space-between;
    color: #3D3737;
    font-family: Shrikhand;
    font-size: 20px;

}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar {
    position: absolute;
    left: -150px; /* Adjust the value to fit your layout */
    transition: left 0.3s ease; /* Add smooth transition */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.search-bar:focus {
    outline: none; /* Remove default focus outline */
}

.search-icon {
    margin-left: -30px; /* Adjust the value to fit your layout */
    cursor: pointer;
    z-index: 2;
}

.show-search-bar .search-bar {
    left: 0; /* Move the search bar to the visible position */
}

.navbar h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' #F2EADF,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/*__________________Footer__________________*/
.footer {
    background-color: #3D3737;
    display: flex;
    padding: 50px;
    justify-content: space-between;

}

.footer h1 {
    font-family: Shrikhand;
    font-size: 30px;
    margin-top: 0;
    color: #BDDABC;
}

.footer h2 {
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 0;
    color: #F2EADF;
}

.footer p {
    font-family: Montserrat;
    margin-top: 0;
    color: #F2EADF;
}

.footer-img {
    display: flex;
    align-items: center;
    width: max-content;
}

.footer-esquerda {
    display: flex;
    flex-direction: column;
}

.footer-direita {
    display: flex;
    flex-direction: column;
}

.footer a {
    text-decoration: none;
    color: #F2EADF;
}






/*__________________Página da Receita__________________*/
.topo-imagem {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 48em;
    overflow: visible;
    /*Fazer crop manhoso na imagem*/
    color: #F2EADF;
}

.info-imagem {
    display: flex;
    flex-direction: column;
    margin-top: -20em;
    margin-left: 10em;
}

.info-imagem h1 {
    font-family: Shrikhand;
    font-size: 60px;
    margin-bottom: 0%;
}

.info-imagem h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    margin-top: 0%;
}

.conteudo {
    z-index: 10;
    background-color: #F2EADF;
    border: 3px solid black;
    color: #3D3737;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 60px;
    position: relative;
    display: flex;
    padding: 69px;
}

.conteudo h2 {
    font-family: Shrikhand;
    font-size: 30px;
}

.conteudo h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0%;
    margin-top: 0%;
}

.conteudo p {
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 0%;
}

.conteudo-direita {
    display: flex;
    flex-direction: column;
    margin-left: 10em;
}

.conteudo-esquerda {
    display: flex;
    flex-direction: column;
}

.vl {
    border-left: 3px solid #3D3737;
    height: auto;
    margin-left: 10em;
}

.video-receita1 {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 109px;
    justify-content: space-between;
}

.video-texto {
    width: 45%;
}

.video-video {
    border-radius: 60px;
}

.video-texto h2 {
    font-family: Shrikhand;
    font-size: 30px;
    color: #3D3737;
    margin-top: 0;
}

.video-texto p {
    font-family: Montserrat;
    color: #3D3737;
    font-size: 25px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' #3D3737,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.video-receita2 {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
    margin-left: 10em;
    justify-content: space-between;
}

.video-texto2 {
    width: 45%;
}

.video-texto3 {
    width: 45%;
}

.video-texto2 h2 {
    font-family: Shrikhand;
    font-size: 30px;
    color: #3D3737;
}

.video-texto2 p {
    font-family: Montserrat;
    color: #3D3737;
    font-size: 25px;
}

.video-texto3 h2 {
    font-family: Shrikhand;
    font-size: 30px;
    color: #3D3737;
}

.video-texto3 p {
    font-family: Montserrat;
    color: #3D3737;
    font-size: 25px;
}

.video-receita3 {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
    margin-left: 10em;
    justify-content: space-between;
}

/*__________________About__________________*/
.body-about {
    background-color: #3D3737;
}

.about-parent {
    border: 3px solid #F2EADF;
    border-radius: 30px;
    color: #F2EADF;
    margin-left: 10em;
    margin-right: 10em;
}

.about-child {
    display: flex;
    padding: 75px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #F2EADF;
}

.about-child h1 {
    font-size: 70px;
    font-family: Shrikhand;
}

.about-child p {
    font-family: Montserrat;
    margin-left: 35em;
}

.about-child2 h1 {
    font-size: 70px;
    font-family: Shrikhand;
}

.about-child2 {
    display: flex;
    padding: 75px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #F2EADF;
}

.about-child2 img {
    border-radius: 30px;
}

.about-child3 {
    display: flex;
    padding: 75px;
    align-items: center;
    justify-content: space-between;
}

.about-child3 h1 {
    font-size: 50px;
    font-family: Shrikhand;
}

.about-child3 h2 {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
    color: #BDDABC;
}

.about-child3 p {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
}

.about-child-dir {
    border-left: 3px solid #F2EADF;
    padding-left: 15em;
    margin-top: -75px;
    margin-bottom: -75px;

}

/*__________________Home__________________*/
.body-home {
    background-color: #FEB8B0;
}

.home-conteudo {
    background-color: #F2EADF;
    border: 3px solid black;
    border-radius: 3em;
    padding: 1.5em;
    margin-left: 10em;
    margin-right: 10em;
}

.home-conteudo img {
    border-radius: 1.5em;
}

.conteudo-imagem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.home-conteudo-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 36px;
    margin-top: -18em;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.home-conteudo-child {
    z-index: 10;
    color: #F2EADF;
}

.home-conteudo-child h1 {
    font-family: Shrikhand;
    font-size: 60px;
    margin-bottom: 0;
}

.home-conteudo-child h2 {
    font-family: Shrikhand;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.home-conteudo-child p {
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 0;
}

.home-conteudo-child2 {
    font-family: Shrikhand;
    font-size: 16px;
    color: #F2EADF;
    border: 3px solid #F2EADF;
    border-radius: 60px;
    height: fit-content;
    padding-left: 3em;
    padding-right: 3em;
}

.home-conteudo-child2 h1 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.card-parent {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
}

.card-child {
    background-color: #FEE297;
    border: solid 3px black;
    border-radius: 2em;
    padding: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.card-child img {
    border-radius: 1em;
}

.card-child a {
    text-decoration: none;
}

.card-child-info h1 {
    font-family: Shrikhand;
    font-size: 25px;
    color: #3D3737;
    margin-bottom: 0;
}

.card-child-info h2 {
    font-family: Montserrat;
    font-size: 20px;
    color: #3D3737;
    margin-top: 0;
    margin-bottom: 2em;
}

.card-child-bt {
    background-color: #F2EADF;
    border-radius: 60px;
    height: fit-content;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.card-child-bt h2 {
    font-family: Shrikhand;
    font-size: 20px;
    color: #3D3737;
    margin-top: 0;
    margin-bottom: 0;
}

.noticias-parent {
    background-color: #BDDABC;
    margin-left: 10em;
    margin-right: 10em;
    border: 3px solid black;
    border-radius: 30px;
    color: #3D3737;
    padding: 36px;
}

.noticias-titulo {
    font-family: Shrikhand;
    font-size: 2em;
    color: #3D3737;
    text-align: center;
}

.noticias-titulo h1 {
    margin-top: 0;
}

.noticias-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noticias-child img {
    border-radius: 50px;
}

.noticias-child h1 {
    font-family: Shrikhand;
    font-size: 2em;
    color: #3D3737;
}

.noticias-child p {
    font-family: Montserrat;
    font-size: 1em;
    color: #3D3737;
}

.noticias-child-esq {
    width: 100%;
    margin-right: 10em;
}

.cooks-parent {
    background-color: #FEE297;
    border: 3px solid black;
    border-radius: 30px;
    color: #3D3737;
    padding: 36px;
    margin-left: 10em;
    margin-right: 10em;
}

.cooks-titulo {
    font-family: Shrikhand;
    font-size: 2em;
    color: #3D3737;
    text-align: center;
    margin-bottom: 1em;
}

.cooks-child {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

.cooks-child h2 {
    font-family: Shrikhand;
    font-size: 1.5em;
    margin-bottom: 0;
}

.cooks-child p {
    font-family: Montserrat;
    font-size: 1em;
    margin-top: 0;
}

.cooks-child-1 {
    display: flex;
    width: 25%;
    height: auto;
    flex-direction: column;
    padding-bottom: 0;
}

.cooks-child-img {
    height: 50%;
}

.wrap {
    flex-wrap: wrap;
    padding: 2em;
}

.wrap {
    max-width: 1600px;
    margin: auto;
}

.App {
    background-color: #FEB8B0;
}

.margin-top-bottom {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*__________________MOBILE__________________*/
@media (max-width: 600px) {
    .wrap img{
        width: 100%;
        height: auto;
    }

    .body-receita {
        
    }

    /*__________________Navbar__________________*/
    .navbar {
        all: unset;

    }

    .navbar h1 {
        all: unset;
    }

    .material-symbols-outlined {
        all: unset;
    }

    /*__________________Footer__________________*/
    .footer {
        all: unset;

    }

    .footer h1 {
        all: unset;
    }

    .footer h2 {
        all: unset;
    }

    .footer p {
        all: unset;
    }

    .footer-img {
        all: unset;
    }

    .footer-esquerda {
        all: unset;
    }

    .footer-direita {
        all: unset;
    }

    .footer a {
        all: unset;
    }






    /*__________________Página da Receita__________________*/
    .topo-imagem {
        all: unset;
    }

    .info-imagem {
        all: unset;
    }

    .info-imagem h1 {
        all: unset;
    }

    .info-imagem h2 {
        all: unset;
    }

    .conteudo {
        all: unset;
    }

    .conteudo h2 {
        all: unset;
    }

    .conteudo h3 {
        all: unset;
    }

    .conteudo p {
        all: unset;
    }

    .conteudo-direita {
        all: unset;
    }

    .conteudo-esquerda {
        all: unset;
    }

    .vl {
        all: unset;
    }

    .video-receita1 {
        all: unset;
    }

    .video-texto {
        all: unset;
    }

    .video-video {
        all: unset;
    }

    .video-texto h2 {
        all: unset;
    }

    .video-texto p {
        all: unset;
    }

    .material-symbols-outlined {
        all: unset;
    }

    .material-symbols-outlined {
        all: unset;
    }

    .video-receita2 {
        all: unset;
    }

    .video-texto2 {
        all: unset;
    }

    .video-texto3 {
        all: unset;
    }

    .video-texto2 h2 {
        all: unset;
    }

    .video-texto2 p {
        all: unset;
    }

    .video-texto3 h2 {
        all: unset;
    }

    .video-texto3 p {
        all: unset;
    }

    .video-receita3 {
        all: unset;
    }

    /*__________________About__________________*/
    .body-about {
        all: unset;
    }

    .about-parent {
        all: unset;
    }

    .about-child {
        all: unset;
    }

    .about-child h1 {
        all: unset;
    }

    .about-child p {
        all: unset;
    }

    .about-child2 h1 {
        all: unset;
    }

    .about-child2 {
        all: unset;
    }

    .about-child2 img {
        all: unset;
    }

    .about-child3 {
        all: unset;
    }

    .about-child3 h1 {
        all: unset;
    }

    .about-child3 h2 {
        all: unset;
    }

    .about-child3 p {
        all: unset;
    }

    .about-child-dir {
        all: unset;
    }

    /*__________________Home__________________*/
    .body-home {
        all: unset;
    }

    .home-conteudo {
        all: unset;
    }

    .home-conteudo img {
        all: unset;
    }

    .conteudo-imagem {
        all: unset;
    }

    .home-conteudo-parent {
        all: unset;
    }

    .material-symbols-outlined {
        all: unset;
    }

    .home-conteudo-child {
        all: unset;
    }

    .home-conteudo-child h1 {
        all: unset;
    }

    .home-conteudo-child h2 {
        all: unset;
    }

    .home-conteudo-child p {
        all: unset;
    }

    .home-conteudo-child2 {
        all: unset;
    }

    .home-conteudo-child2 h1 {
        all: unset;
    }

    .card-parent {
        all: unset;
    }

    .card-child {
        all: unset;
    }

    .card-child img {
        all: unset;
    }

    .card-child a {
        all: unset;
    }

    .card-child-info h1 {
        all: unset;
    }

    .card-child-info h2 {
        all: unset;
    }

    .card-child-bt {
        all: unset;
    }

    .card-child-bt h2 {
        all: unset;
    }

    .noticias-parent {
        all: unset;
    }

    .noticias-titulo {
        all: unset;
    }

    .noticias-titulo h1 {
        margin-top: 0;
    }

    .noticias-child {
        all: unset;
    }

    .noticias-child img {
        all: unset;
    }

    .noticias-child h1 {
        all: unset;
    }

    .noticias-child p {
        all: unset;
    }

    .noticias-child-esq {
        all: unset;
    }

    .cooks-parent {
        all: unset;
    }

    .cooks-titulo {
        all: unset;
    }

    .cooks-child {
        all: unset;
    }

    .cooks-child h2 {
        all: unset;
    }

    .cooks-child p {
        all: unset;
    }

    .cooks-child-1 {
        all: unset;
    }

    .cooks-child-img {
        all: unset;
    }

    .wrap {
        all: unset;
    }

    .wrap {
        all: unset;
    }

    .App {
        all: unset;
    }

    .margin-top-bottom {
        all: unset;
    }

}